In [29]:
#データを読み込む
import pandas as pd
#uriage.csvの読み込み
uriage_data = pd.read_csv('./data002/uriage.csv')
uriage_data.head()

         purchase_date item_name  item_price customer_name
0  2019-06-13 18:02:34       商品A       100.0         深井菜々美
1  2019-07-13 13:05:29     商 品 S         NaN          浅田賢二
2  2019-05-11 19:42:07     商 品 a         NaN          南部慶二
3  2019-02-12 23:40:45       商品Z      2600.0          麻生莉緒
4  2019-04-22 03:09:35       商品a         NaN          平田鉄二

In [30]:
#kokyaku_daicho.xlsxの読み込み
kokyaku_data = pd.read_excel('./data002/kokyaku_daicho.xlsx')
kokyaku_data.head()

      顧客名        かな  地域                     メールアドレス         登録日
0   須賀ひとみ    すが ひとみ  H市     suga_hitomi@example.com  2018/01/04
1  岡田　 敏也   おかだ としや  E市   okada_toshiya@example.com       42782
2    芳賀 希    はが のぞみ  A市     haga_nozomi@example.com  2018/01/07
3   荻野  愛    おぎの あい  F市        ogino_ai@example.com       42872
4   栗田 憲一  くりた けんいち  E市  kurita_kenichi@example.com       43127

In [31]:
#データの揺れを確認
uriage_data['item_name'].head()

0      商品A
1    商 品 S
2    商 品 a
3      商品Z
4      商品a
Name: item_name, dtype: object

In [32]:
uriage_data['item_price'].head()

0     100.0
1       NaN
2       NaN
3    2600.0
4       NaN
Name: item_price, dtype: float64

In [33]:
#データの揺れがあるままに集計する
#売り上げ履歴からの商品毎の月売上合計を集計する
uriage_data['purchase_date'] = pd.to_datetime(uriage_data['purchase_date'])
uriage_data['purchase_month'] = uriage_data['purchase_date'].dt.strftime("%Y%m")
res = uriage_data.pivot_table(index="purchase_month", columns="item_name", aggfunc="size", fill_value=0)
res

item_name,商品W,商 品 n,商品E,商品M,商品P,商品S,商品W,商品X,商 品O,商 品Q,...,商品k,商品l,商品o,商品p,商品r,商品s,商品t,商品v,商品x,商品y
purchase_month,,,,,,,,,,,,,,,,,,,,,
201901,0,1,0,0,0,0,0,0,0,0,...,1,1,1,0,0,0,0,0,0,0
201902,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,1,1,0,0
201903,0,0,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
201904,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
201905,0,0,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
201906,0,0,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,1,0
201907,0,0,0,0,0,0,0,0,1,0,...,0,0,1,0,2,0,0,0,0,0

In [34]:
# 横軸に「item_price」を設定して集計
res = uriage_data.pivot_table(index="purchase_month", columns="item_name", values="item_price", aggfunc="sum", fill_value=0)
res

item_name,商品W,商 品 n,商品E,商品M,商品P,商品S,商品W,商品X,商 品O,商 品Q,...,商品k,商品l,商品o,商品p,商品r,商品s,商品t,商品v,商品x,商品y
purchase_month,,,,,,,,,,,,,,,,,,,,,
201901,0,1400,0,0,0,0,0,0,0,0,...,1100,1200,1500,0,0,0,0,0,0,0
201902,0,0,0,0,0,0,0,2400,0,0,...,0,0,0,0,0,1900,2000,2200,0,0
201903,0,0,500,1300,1600,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
201904,2300,0,0,0,0,0,0,0,0,1700,...,0,0,0,0,0,1900,0,0,0,0
201905,0,0,0,0,0,1900,0,0,0,0,...,0,1200,0,0,0,0,0,0,0,2500
201906,0,0,0,0,0,0,2300,0,0,0,...,0,0,0,1600,0,0,0,0,2400,0
201907,0,0,0,0,0,0,0,0,0,0,...,0,0,1500,0,1800,0,0,0,0,0

In [35]:
#商品名の揺れを補正する
#現状の把握　商品名のユニーク数確認
print(len(pd.unique(uriage_data.item_name)))

99

In [36]:
#データの揺れを解消していく
uriage_data['item_name'] = uriage_data['item_name'].str.upper()
uriage_data['item_name'] = uriage_data['item_name'].str.replace("　", "")
uriage_data['item_name'] = uriage_data['item_name'].str.replace(" ", "")
uriage_data.sort_values(by=['item_name'], ascending=True)

           purchase_date item_name  item_price customer_name purchase_month
0    2019-06-13 18:02:34       商品A       100.0         深井菜々美         201906
1748 2019-05-19 20:22:22       商品A       100.0          松川綾女         201905
223  2019-06-25 08:13:20       商品A       100.0           板橋隆         201906
1742 2019-06-13 16:03:17       商品A       100.0          小平陽子         201906
1738 2019-02-10 00:28:43       商品A       100.0          松田浩正         201902
...                  ...       ...         ...           ...            ...
2880 2019-04-22 00:36:52       商品Y         NaN          田辺光洋         201904
2881 2019-04-30 14:21:09       商品Y         NaN          高原充則         201904
1525 2019-01-24 10:27:23       商品Y      2500.0         五十嵐春樹         201901
1361 2019-05-28 13:45:32       商品Y      2500.0         大崎ヒカル         201905
3    2019-02-12 23:40:45       商品Z      2600.0          麻生莉緒         201902

[2999 rows x 5 columns]

In [37]:
#商品名の補正結果検証
print(pd.unique(uriage_data['item_name']))
print(len(pd.unique(uriage_data['item_name'])))

['商品A' '商品S' '商品Z' '商品V' '商品O' '商品U' '商品L' '商品C' '商品I' '商品R' '商品X' '商品G'
 '商品P' '商品Q' '商品Y' '商品N' '商品W' '商品E' '商品K' '商品B' '商品F' '商品D' '商品M' '商品H'
 '商品T' '商品J']
26

In [38]:
#金額欠損値の補完
#データ全体から、欠損値が含まれているかどうか確認する
uriage_data.isnull().any(axis=0)

purchase_date     False
item_name         False
item_price         True
customer_name     False
purchase_month    False
dtype: bool

In [39]:
#金額の欠損値を補完する
flg_is_null = uriage_data['item_price'].isnull()
for trg in list(uriage_data.loc[flg_is_null, 'item_name'].unique()):
    price = uriage_data.loc[(~flg_is_null) & (uriage_data['item_name']==trg), 'item_price'].max()
    uriage_data['item_price'].loc[(flg_is_null) & (uriage_data['item_name']==trg)] = price
uriage_data.head()

/home/vagrant/.pyenv/versions/anaconda3-2021.05/lib/python3.8/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

        purchase_date item_name  item_price customer_name purchase_month
0 2019-06-13 18:02:34       商品A       100.0         深井菜々美         201906
1 2019-07-13 13:05:29       商品S      1900.0          浅田賢二         201907
2 2019-05-11 19:42:07       商品A       100.0          南部慶二         201905
3 2019-02-12 23:40:45       商品Z      2600.0          麻生莉緒         201902
4 2019-04-22 03:09:35       商品A       100.0          平田鉄二         201904

In [40]:
#欠損値チェック結果
uriage_data.isnull().any(axis=0)

purchase_date     False
item_name         False
item_price        False
customer_name     False
purchase_month    False
dtype: bool

In [41]:
#欠損値チェック結果
for trg in list(uriage_data['item_name'].sort_values().unique()):
    print(trg + "の最大額：" + str(uriage_data.loc[uriage_data['item_name']==trg]['item_price'].max()) + "の最小額：" + str(uriage_data.loc[uriage_data['item_name']==trg]['item_price'].min(skipna=False)))

商品Aの最大額：100.0の最小額：100.0
商品Bの最大額：200.0の最小額：200.0
商品Cの最大額：300.0の最小額：300.0
商品Dの最大額：400.0の最小額：400.0
商品Eの最大額：500.0の最小額：500.0
商品Fの最大額：600.0の最小額：600.0
商品Gの最大額：700.0の最小額：700.0
商品Hの最大額：800.0の最小額：800.0
商品Iの最大額：900.0の最小額：900.0
商品Jの最大額：1000.0の最小額：1000.0
商品Kの最大額：1100.0の最小額：1100.0
商品Lの最大額：1200.0の最小額：1200.0
商品Mの最大額：1300.0の最小額：1300.0
商品Nの最大額：1400.0の最小額：1400.0
商品Oの最大額：1500.0の最小額：1500.0
商品Pの最大額：1600.0の最小額：1600.0
商品Qの最大額：1700.0の最小額：1700.0
商品Rの最大額：1800.0の最小額：1800.0
商品Sの最大額：1900.0の最小額：1900.0
商品Tの最大額：2000.0の最小額：2000.0
商品Uの最大額：2100.0の最小額：2100.0
商品Vの最大額：2200.0の最小額：2200.0
商品Wの最大額：2300.0の最小額：2300.0
商品Xの最大額：2400.0の最小額：2400.0
商品Yの最大額：2500.0の最小額：2500.0
商品Zの最大額：2600.0の最小額：2600.0

In [42]:
#顧客台帳の顧客名の揺れを補正
#データの確認
kokyaku_data['顧客名'].head()

0     須賀ひとみ
1    岡田　 敏也
2      芳賀 希
3     荻野  愛
4     栗田 憲一
Name: 顧客名, dtype: object

In [43]:
#売り上げ履歴の顧客名
uriage_data['customer_name'].head()

0    深井菜々美
1     浅田賢二
2     南部慶二
3     麻生莉緒
4     平田鉄二
Name: customer_name, dtype: object

In [44]:
#顧客台帳の顧客名に対してスペースの除去を行う
kokyaku_data["顧客名"] = kokyaku_data["顧客名"].str.replace("　", "")
kokyaku_data["顧客名"] = kokyaku_data["顧客名"].str.replace(" ", "")
kokyaku_data["顧客名"].head()

0    須賀ひとみ
1     岡田敏也
2      芳賀希
3      荻野愛
4     栗田憲一
Name: 顧客名, dtype: object

In [45]:
#kokyaku_daicho.xlsxの読み込み
kokyaku_data = pd.read_excel('./data002/kokyaku_daicho.xlsx')
kokyaku_data.head()

      顧客名        かな  地域                     メールアドレス         登録日
0   須賀ひとみ    すが ひとみ  H市     suga_hitomi@example.com  2018/01/04
1  岡田　 敏也   おかだ としや  E市   okada_toshiya@example.com       42782
2    芳賀 希    はが のぞみ  A市     haga_nozomi@example.com  2018/01/07
3   荻野  愛    おぎの あい  F市        ogino_ai@example.com       42872
4   栗田 憲一  くりた けんいち  E市  kurita_kenichi@example.com       43127

In [46]:
#日付の揺れを補正する
#日付を統一フォーマットに補正していく
flg_is_serial = kokyaku_data["登録日"].astype('str').str.isdigit()
flg_is_serial.sum()

22

In [47]:
#数値で取り込まれている登録日を補正していく
#数値から日付に変換
fromSerial = pd.to_timedelta(kokyaku_data.loc[flg_is_serial, "登録日"].astype('float'), unit="D") + pd.to_datetime('1900/01/01')
fromSerial

1     2017-02-18
3     2017-05-19
4     2018-01-29
21    2017-07-06
27    2017-06-17
47    2017-01-08
49    2017-07-15
53    2017-04-10
76    2018-03-31
80    2018-01-12
99    2017-06-01
114   2018-06-05
118   2018-01-31
122   2018-04-18
139   2017-05-27
143   2017-03-26
155   2017-01-21
172   2018-03-24
179   2017-01-10
183   2017-07-26
186   2018-07-15
192   2018-06-10
Name: 登録日, dtype: datetime64[ns]

In [48]:
#日付として取り込まれている対象の書式変更結果
fromString = pd.to_datetime(kokyaku_data.loc[~flg_is_serial, "登録日"])
fromString

0     2018-01-04
2     2018-01-07
5     2017-06-20
6     2018-06-11
7     2017-05-19
         ...
195   2017-06-20
196   2018-06-20
197   2017-04-29
198   2019-04-19
199   2019-04-23
Name: 登録日, Length: 178, dtype: datetime64[ns]

In [49]:
#数値から日付に補正したデータと、書式を変更したデータを結合してデータを更新する
kokyaku_data["登録日"] = pd.concat([fromSerial, fromString])
kokyaku_data

        顧客名           かな  地域                         メールアドレス        登録日
0     須賀ひとみ       すが ひとみ  H市         suga_hitomi@example.com 2018-01-04
1    岡田　 敏也      おかだ としや  E市       okada_toshiya@example.com 2017-02-18
2      芳賀 希       はが のぞみ  A市         haga_nozomi@example.com 2018-01-07
3     荻野  愛       おぎの あい  F市            ogino_ai@example.com 2017-05-19
4     栗田 憲一     くりた けんいち  E市      kurita_kenichi@example.com 2018-01-29
..      ...          ...  ..                             ...        ...
195   川上 りえ      かわかみ りえ  G市        kawakami_rie@example.com 2017-06-20
196   小松 季衣      こまつ としえ  E市      komatsu_toshie@example.com 2018-06-20
197   白鳥 りえ      しらとり りえ  F市       shiratori_rie@example.com 2017-04-29
198  大西 隆之介  おおにし りゅうのすけ  H市  oonishi_ryuunosuke@example.com 2019-04-19
199   福井 美希       ふくい みき  D市         fukui_miki1@example.com 2019-04-23

[200 rows x 5 columns]

In [50]:
#登録月の集計結果
kokyaku_data["登録年月"] = kokyaku_data["登録日"].dt.strftime("%Y%m")
rslt = kokyaku_data.groupby("登録年月").count()["顧客名"]
print(rslt)
print(len(kokyaku_data))

登録年月
201701    15
201702    11
201703    14
201704    15
201705    13
201706    14
201707    17
201801    13
201802    15
201803    17
201804     5
201805    19
201806    13
201807    17
201904     2
Name: 顧客名, dtype: int64
200

In [51]:
#数値項目の有無
#登録日列に数値データが残っていないか確認する
flg_is_serial = kokyaku_data["登録日"].astype('str').str.isdigit()
flg_is_serial.sum()

0

In [52]:
#売上履歴と顧客台帳を結合し、集計のベースとなるデータを作成する
join_data = pd.merge(uriage_data, kokyaku_data, left_on="customer_name", right_on="顧客名", how="left")
join_data = join_data.drop('customer_name', axis=1)
join_data

,purchase_date,item_name,item_price,purchase_month,顧客名,かな,地域,メールアドレス,登録日,登録年月
0,2019-06-13 18:02:34,商品A,100.0,201906,NaN,NaN,NaN,NaN,NaT,NaN
1,2019-07-13 13:05:29,商品S,1900.0,201907,NaN,NaN,NaN,NaN,NaT,NaN
2,2019-05-11 19:42:07,商品A,100.0,201905,NaN,NaN,NaN,NaN,NaT,NaN
3,2019-02-12 23:40:45,商品Z,2600.0,201902,NaN,NaN,NaN,NaN,NaT,NaN
4,2019-04-22 03:09:35,商品A,100.0,201904,NaN,NaN,NaN,NaN,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...
2994,2019-02-15 02:56:39,商品Y,2500.0,201902,NaN,NaN,NaN,NaN,NaT,NaN
2995,2019-06-22 04:03:43,商品M,1300.0,201906,NaN,NaN,NaN,NaN,NaT,NaN
2996,2019-03-29 11:14:05,商品Q,1700.0,201903,NaN,NaN,NaN,NaN,NaT,NaN
2997,2019-07-14 12:56:49,商品H,800.0,201907,NaN,NaN,NaN,NaN,NaT,NaN
2998,2019-07-21 00:31:36,商品D,400.0,201907,NaN,NaN,NaN,NaN,NaT,NaN

In [53]:
uriage_data

           purchase_date item_name  item_price customer_name purchase_month
0    2019-06-13 18:02:34       商品A       100.0         深井菜々美         201906
1    2019-07-13 13:05:29       商品S      1900.0          浅田賢二         201907
2    2019-05-11 19:42:07       商品A       100.0          南部慶二         201905
3    2019-02-12 23:40:45       商品Z      2600.0          麻生莉緒         201902
4    2019-04-22 03:09:35       商品A       100.0          平田鉄二         201904
...                  ...       ...         ...           ...            ...
2994 2019-02-15 02:56:39       商品Y      2500.0          福島友也         201902
2995 2019-06-22 04:03:43       商品M      1300.0          大倉晃司         201906
2996 2019-03-29 11:14:05       商品Q      1700.0          尾形小雁         201903
2997 2019-07-14 12:56:49       商品H       800.0          芦田博之         201907
2998 2019-07-21 00:31:36       商品D       400.0          石田郁恵         201907

[2999 rows x 5 columns]

In [54]:
kokyaku_data

,顧客名,かな,地域,メールアドレス,登録日,登録年月
0,須賀ひとみ,すが ひとみ,H市,suga_hitomi@example.com,2018-01-04,201801
1,岡田 敏也,おかだ としや,E市,okada_toshiya@example.com,2017-02-18,201702
2,芳賀 希,はが のぞみ,A市,haga_nozomi@example.com,2018-01-07,201801
3,荻野 愛,おぎの あい,F市,ogino_ai@example.com,2017-05-19,201705
4,栗田 憲一,くりた けんいち,E市,kurita_kenichi@example.com,2018-01-29,201801
...,...,...,...,...,...,...
195,川上 りえ,かわかみ りえ,G市,kawakami_rie@example.com,2017-06-20,201706
196,小松 季衣,こまつ としえ,E市,komatsu_toshie@example.com,2018-06-20,201806
197,白鳥 りえ,しらとり りえ,F市,shiratori_rie@example.com,2017-04-29,201704
198,大西 隆之介,おおにし りゅうのすけ,H市,oonishi_ryuunosuke@example.com,2019-04-19,201904
199,福井 美希,ふくい みき,D市,fukui_miki1@example.com,2019-04-23,201904

In [55]:
#売上履歴と顧客台帳を結合し、集計のベースとなるデータを作成する
join_data = pd.merge(uriage_data, kokyaku_data, left_on='customer_name', right_on='顧客名', how='left')
join_data = join_data.drop('customer_name', axis=1)
join_data

,purchase_date,item_name,item_price,purchase_month,顧客名,かな,地域,メールアドレス,登録日,登録年月
0,2019-06-13 18:02:34,商品A,100.0,201906,NaN,NaN,NaN,NaN,NaT,NaN
1,2019-07-13 13:05:29,商品S,1900.0,201907,NaN,NaN,NaN,NaN,NaT,NaN
2,2019-05-11 19:42:07,商品A,100.0,201905,NaN,NaN,NaN,NaN,NaT,NaN
3,2019-02-12 23:40:45,商品Z,2600.0,201902,NaN,NaN,NaN,NaN,NaT,NaN
4,2019-04-22 03:09:35,商品A,100.0,201904,NaN,NaN,NaN,NaN,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...
2994,2019-02-15 02:56:39,商品Y,2500.0,201902,NaN,NaN,NaN,NaN,NaT,NaN
2995,2019-06-22 04:03:43,商品M,1300.0,201906,NaN,NaN,NaN,NaN,NaT,NaN
2996,2019-03-29 11:14:05,商品Q,1700.0,201903,NaN,NaN,NaN,NaN,NaT,NaN
2997,2019-07-14 12:56:49,商品H,800.0,201907,NaN,NaN,NaN,NaN,NaT,NaN
2998,2019-07-21 00:31:36,商品D,400.0,201907,NaN,NaN,NaN,NaN,NaT,NaN

In [56]:
#売上履歴と顧客台帳を結合し、集計のベースとなるデータを作成する
join_data = pd.merge(uriage_data, kokyaku_data, left_on="customer_name", right_on="顧客名", how="left")
join_data = join_data.drop("customer_name", axis=1)
join_data

,purchase_date,item_name,item_price,purchase_month,顧客名,かな,地域,メールアドレス,登録日,登録年月
0,2019-06-13 18:02:34,商品A,100.0,201906,NaN,NaN,NaN,NaN,NaT,NaN
1,2019-07-13 13:05:29,商品S,1900.0,201907,NaN,NaN,NaN,NaN,NaT,NaN
2,2019-05-11 19:42:07,商品A,100.0,201905,NaN,NaN,NaN,NaN,NaT,NaN
3,2019-02-12 23:40:45,商品Z,2600.0,201902,NaN,NaN,NaN,NaN,NaT,NaN
4,2019-04-22 03:09:35,商品A,100.0,201904,NaN,NaN,NaN,NaN,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...
2994,2019-02-15 02:56:39,商品Y,2500.0,201902,NaN,NaN,NaN,NaN,NaT,NaN
2995,2019-06-22 04:03:43,商品M,1300.0,201906,NaN,NaN,NaN,NaN,NaT,NaN
2996,2019-03-29 11:14:05,商品Q,1700.0,201903,NaN,NaN,NaN,NaN,NaT,NaN
2997,2019-07-14 12:56:49,商品H,800.0,201907,NaN,NaN,NaN,NaN,NaT,NaN
2998,2019-07-21 00:31:36,商品D,400.0,201907,NaN,NaN,NaN,NaN,NaT,NaN

In [58]:
#売上履歴と顧客台帳を結合し、集計のベースとなるデータを作成する
join_data = pd.merge(uriage_data, kokyaku_data, left_on="customer_name", right_on="顧客名", how="left")
join_data = join_data.drop("customer_name", axis=1)
join_data

,purchase_date,item_name,item_price,purchase_month,顧客名,かな,地域,メールアドレス,登録日,登録年月
0,2019-06-13 18:02:34,商品A,100.0,201906,NaN,NaN,NaN,NaN,NaT,NaN
1,2019-07-13 13:05:29,商品S,1900.0,201907,NaN,NaN,NaN,NaN,NaT,NaN
2,2019-05-11 19:42:07,商品A,100.0,201905,NaN,NaN,NaN,NaN,NaT,NaN
3,2019-02-12 23:40:45,商品Z,2600.0,201902,NaN,NaN,NaN,NaN,NaT,NaN
4,2019-04-22 03:09:35,商品A,100.0,201904,NaN,NaN,NaN,NaN,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...
2994,2019-02-15 02:56:39,商品Y,2500.0,201902,NaN,NaN,NaN,NaN,NaT,NaN
2995,2019-06-22 04:03:43,商品M,1300.0,201906,NaN,NaN,NaN,NaN,NaT,NaN
2996,2019-03-29 11:14:05,商品Q,1700.0,201903,NaN,NaN,NaN,NaN,NaT,NaN
2997,2019-07-14 12:56:49,商品H,800.0,201907,NaN,NaN,NaN,NaN,NaT,NaN
2998,2019-07-21 00:31:36,商品D,400.0,201907,NaN,NaN,NaN,NaN,NaT,NaN

In [60]:
#データを整形
dump_data = join_data[["purchase_date", "purchase_month", "item_name", "item_price", "顧客名", "かな", "地域", "メールアドレス", "登録日"]]
dump_data

,purchase_date,purchase_month,item_name,item_price,顧客名,かな,地域,メールアドレス,登録日
0,2019-06-13 18:02:34,201906,商品A,100.0,NaN,NaN,NaN,NaN,NaT
1,2019-07-13 13:05:29,201907,商品S,1900.0,NaN,NaN,NaN,NaN,NaT
2,2019-05-11 19:42:07,201905,商品A,100.0,NaN,NaN,NaN,NaN,NaT
3,2019-02-12 23:40:45,201902,商品Z,2600.0,NaN,NaN,NaN,NaN,NaT
4,2019-04-22 03:09:35,201904,商品A,100.0,NaN,NaN,NaN,NaN,NaT
...,...,...,...,...,...,...,...,...,...
2994,2019-02-15 02:56:39,201902,商品Y,2500.0,NaN,NaN,NaN,NaN,NaT
2995,2019-06-22 04:03:43,201906,商品M,1300.0,NaN,NaN,NaN,NaN,NaT
2996,2019-03-29 11:14:05,201903,商品Q,1700.0,NaN,NaN,NaN,NaN,NaT
2997,2019-07-14 12:56:49,201907,商品H,800.0,NaN,NaN,NaN,NaN,NaT
2998,2019-07-21 00:31:36,201907,商品D,400.0,NaN,NaN,NaN,NaN,NaT

In [61]:
uriage_data.head()

        purchase_date item_name  item_price customer_name purchase_month
0 2019-06-13 18:02:34       商品A       100.0         深井菜々美         201906
1 2019-07-13 13:05:29       商品S      1900.0          浅田賢二         201907
2 2019-05-11 19:42:07       商品A       100.0          南部慶二         201905
3 2019-02-12 23:40:45       商品Z      2600.0          麻生莉緒         201902
4 2019-04-22 03:09:35       商品A       100.0          平田鉄二         201904

In [62]:
kokyaku_data.head()

      顧客名        かな  地域                     メールアドレス        登録日    登録年月
0   須賀ひとみ    すが ひとみ  H市     suga_hitomi@example.com 2018-01-04  201801
1  岡田　 敏也   おかだ としや  E市   okada_toshiya@example.com 2017-02-18  201702
2    芳賀 希    はが のぞみ  A市     haga_nozomi@example.com 2018-01-07  201801
3   荻野  愛    おぎの あい  F市        ogino_ai@example.com 2017-05-19  201705
4   栗田 憲一  くりた けんいち  E市  kurita_kenichi@example.com 2018-01-29  201801

In [65]:
#売上履歴と顧客台帳を結合し、集計のベースとなるデータを作成する
join_data = pd.merge(uriage_data.head(), kokyaku_data.head(), left_on="customer_name", right_on="顧客名", how="left")
join_data = join_data.drop("customer_name", axis=1)
join_data.head()

,purchase_date,item_name,item_price,purchase_month,顧客名,かな,地域,メールアドレス,登録日,登録年月
0,2019-06-13 18:02:34,商品A,100.0,201906,NaN,NaN,NaN,NaN,NaT,NaN
1,2019-07-13 13:05:29,商品S,1900.0,201907,NaN,NaN,NaN,NaN,NaT,NaN
2,2019-05-11 19:42:07,商品A,100.0,201905,NaN,NaN,NaN,NaN,NaT,NaN
3,2019-02-12 23:40:45,商品Z,2600.0,201902,NaN,NaN,NaN,NaN,NaT,NaN
4,2019-04-22 03:09:35,商品A,100.0,201904,NaN,NaN,NaN,NaN,NaT,NaN

In [66]:
dump_data

,purchase_date,purchase_month,item_name,item_price,顧客名,かな,地域,メールアドレス,登録日
0,2019-06-13 18:02:34,201906,商品A,100.0,NaN,NaN,NaN,NaN,NaT
1,2019-07-13 13:05:29,201907,商品S,1900.0,NaN,NaN,NaN,NaN,NaT
2,2019-05-11 19:42:07,201905,商品A,100.0,NaN,NaN,NaN,NaN,NaT
3,2019-02-12 23:40:45,201902,商品Z,2600.0,NaN,NaN,NaN,NaN,NaT
4,2019-04-22 03:09:35,201904,商品A,100.0,NaN,NaN,NaN,NaN,NaT
...,...,...,...,...,...,...,...,...,...
2994,2019-02-15 02:56:39,201902,商品Y,2500.0,NaN,NaN,NaN,NaN,NaT
2995,2019-06-22 04:03:43,201906,商品M,1300.0,NaN,NaN,NaN,NaN,NaT
2996,2019-03-29 11:14:05,201903,商品Q,1700.0,NaN,NaN,NaN,NaN,NaT
2997,2019-07-14 12:56:49,201907,商品H,800.0,NaN,NaN,NaN,NaN,NaT
2998,2019-07-21 00:31:36,201907,商品D,400.0,NaN,NaN,NaN,NaN,NaT

In [67]:
#データをダンプ(出力)
dump_data.to_csv("dump_data.csv", index=False)

In [68]:
#ダンプファイル読み込み
import_data = pd.read_csv("dump_data.csv")
import_data

,purchase_date,purchase_month,item_name,item_price,顧客名,かな,地域,メールアドレス,登録日
0,2019-06-13 18:02:34,201906,商品A,100.0,NaN,NaN,NaN,NaN,NaN
1,2019-07-13 13:05:29,201907,商品S,1900.0,NaN,NaN,NaN,NaN,NaN
2,2019-05-11 19:42:07,201905,商品A,100.0,NaN,NaN,NaN,NaN,NaN
3,2019-02-12 23:40:45,201902,商品Z,2600.0,NaN,NaN,NaN,NaN,NaN
4,2019-04-22 03:09:35,201904,商品A,100.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2994,2019-02-15 02:56:39,201902,商品Y,2500.0,NaN,NaN,NaN,NaN,NaN
2995,2019-06-22 04:03:43,201906,商品M,1300.0,NaN,NaN,NaN,NaN,NaN
2996,2019-03-29 11:14:05,201903,商品Q,1700.0,NaN,NaN,NaN,NaN,NaN
2997,2019-07-14 12:56:49,201907,商品H,800.0,NaN,NaN,NaN,NaN,NaN
2998,2019-07-21 00:31:36,201907,商品D,400.0,NaN,NaN,NaN,NaN,NaN

In [70]:
#purchase_monthを縦軸に、商品毎の集計
byItem = import_data.pivot_table(index="purchase_month", columns="item_name", aggfunc="size", fill_value=0)
byItem

item_name,商品A,商品B,商品C,商品D,商品E,商品F,商品G,商品H,商品I,商品J,...,商品Q,商品R,商品S,商品T,商品U,商品V,商品W,商品X,商品Y,商品Z
purchase_month,,,,,,,,,,,,,,,,,,,,,
201901,18,13,19,17,18,15,11,16,18,17,...,17,21,20,17,7,22,13,14,10,0
201902,19,14,26,21,16,14,14,17,12,14,...,22,22,22,23,19,22,24,16,11,1
201903,17,21,20,17,9,27,14,18,12,16,...,23,16,20,12,23,18,16,21,16,0
201904,17,19,24,20,18,17,14,11,18,13,...,20,20,16,16,11,15,14,16,20,0
201905,24,14,16,14,19,18,23,15,16,11,...,13,22,18,16,16,9,21,16,20,0
201906,24,12,11,19,13,18,15,13,19,22,...,15,16,21,12,18,20,17,15,13,0
201907,20,20,17,17,12,17,19,19,19,23,...,15,19,23,21,13,28,16,18,12,0

In [71]:
#purchase_monthを縦軸に、売上金額、顧客、地域の集計を行う
byPrice = import_data.pivot_table(index="purchase_month", columns="item_name", values="item_price", aggfunc="sum", fill_value=0)
byPrice

item_name,商品A,商品B,商品C,商品D,商品E,商品F,商品G,商品H,商品I,商品J,...,商品Q,商品R,商品S,商品T,商品U,商品V,商品W,商品X,商品Y,商品Z
purchase_month,,,,,,,,,,,,,,,,,,,,,
201901,1800,2600,5700,6800,9000,9000,7700,12800,16200,17000,...,28900,37800,38000,34000,14700,48400,29900,33600,25000,0
201902,1900,2800,7800,8400,8000,8400,9800,13600,10800,14000,...,37400,39600,41800,46000,39900,48400,55200,38400,27500,2600
201903,1700,4200,6000,6800,4500,16200,9800,14400,10800,16000,...,39100,28800,38000,24000,48300,39600,36800,50400,40000,0
201904,1700,3800,7200,8000,9000,10200,9800,8800,16200,13000,...,34000,36000,30400,32000,23100,33000,32200,38400,50000,0
201905,2400,2800,4800,5600,9500,10800,16100,12000,14400,11000,...,22100,39600,34200,32000,33600,19800,48300,38400,50000,0
201906,2400,2400,3300,7600,6500,10800,10500,10400,17100,22000,...,25500,28800,39900,24000,37800,44000,39100,36000,32500,0
201907,2000,4000,5100,6800,6000,10200,13300,15200,17100,23000,...,25500,34200,43700,42000,27300,61600,36800,43200,30000,0

In [72]:
#顧客名
byCustomer = import_data.pivot_table(index="purchase_month", columns="顧客名", aggfunc="size", fill_value=0)
byCustomer

顧客名             須賀ひとみ
purchase_month
201901              2
201902              3
201903              2
201904              3
201905              2
201906              4
201907              4

In [73]:
#購入年月、地域における販売数
byRegion = import_data.pivot_table(index="purchase_month", columns="地域", aggfunc="size", fill_value=0)
byRegion

地域              H市
purchase_month
201901           2
201902           3
201903           2
201904           3
201905           2
201906           4
201907           4

In [74]:
#集計期間で購入していないユーザー
away_data = pd.merge(uriage_data, kokyaku_data, left_on="customer_name", right_on="顧客名", how="right")
away_data[away_data["purchase_date"].isnull()][["顧客名", "メールアドレス", "登録日"]]

        顧客名                         メールアドレス        登録日
20   岡田　 敏也       okada_toshiya@example.com 2017-02-18
21     芳賀 希         haga_nozomi@example.com 2018-01-07
22    荻野  愛            ogino_ai@example.com 2017-05-19
23    栗田 憲一      kurita_kenichi@example.com 2018-01-29
24    梅沢 麻緒         umezawa_mao@example.com 2017-06-20
..      ...                             ...        ...
214   川上 りえ        kawakami_rie@example.com 2017-06-20
215   小松 季衣      komatsu_toshie@example.com 2018-06-20
216   白鳥 りえ       shiratori_rie@example.com 2017-04-29
217  大西 隆之介  oonishi_ryuunosuke@example.com 2019-04-19
218   福井 美希         fukui_miki1@example.com 2019-04-23

[199 rows x 3 columns]